<div class="container-fluid">
    <div class="col">

            <div class="form-group row">
                <label for="inputProject" class="col-sm-2 col-form-label">Project:</label>
                <div class="col-sm-5">
                    <input #project="ngModel" id="inputProject" [(ngModel)]="projectName" class="form-control" name="project" type="text" [disabled]="true" placeholder="Project Name" required/>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" (click) = "loadProjects()" data-target="#projectSearch">
                        Search Project
                </button>
            </div>

            <div class="form-group row">
              <label for="inputTask" class="col-sm-2 col-form-label">Task:</label>
              <div class="col-sm-5">
                  <input #taskName="ngModel" id="inputTask" [(ngModel)]="task.task" class="form-control" name="taskName" type="text" placeholder="Task Name" required/>
               </div>
            </div>

            <div class="form-check parent-check-label row">
                <input type="checkbox" class="form-check-input" id="isParentTaskChkLabel"
                       (ng-model)="isParentTask" id="parentTaskChecked" [checked]="isParentTask" (change)="changeChkBox($event)">
                <label class="form-check-label" for="isParentTaskChkLabel">Parent Task</label>
            </div><br/>

            <div class="form-group row">
                <label for="inputPriority" class="col-sm-2 col-form-label">Priority:</label>
                <div class="col-sm-5">
                    <input #priority="ngModel" id="inputPriority" [(ngModel)]="task.priority" class="form-control slider" min="0" max="30" step="1"
                    [disabled]=isParentTask name="priority" type="range" /> {{task.priority}}
                 </div>
            </div>

            <div class="form-group row">
                <label for="inputParentTask" class="col-sm-2 col-form-label">Parent Task:</label>
                <div class="col-sm-5">
                    <input #project="ngModel" id="inputParentTask" [(ngModel)]="parentName" class="form-control" name="parent" type="text" [disabled]="true" placeholder="Parent Task" required/>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" (click) = "loadParents()" data-target="#parentTaskSearch">
                        Search
                </button>
            </div>

            <div class="form-group row">
                <label for="inputStartDate" class="col-sm-2 col-form-label">Start Date:</label>
                <div class="col-sm-5">
                    <input #startDate="ngModel" id="inputStartDate" [(ngModel)]="task.startDate" class="form-control"
                    [disabled]=isParentTask name="stDate" type="date" required/>
                 </div>
            </div>

            <div class="form-group row">
                <label for="inputEndDate" class="col-sm-2 col-form-label">End Date:</label>
                <div class="col-sm-5">
                    <input #endDate="ngModel" id="inputEndDate" [(ngModel)]="task.endDate" class="form-control"
                    [disabled]=isParentTask name="etDate" type="date"/>
                </div>
            </div>

            <div class="form-group row">
                <label for="inputMgr" class="col-sm-2 col-form-label">User:</label>
                <div class="col-sm-5">
                    <input #manager="ngModel" id="inputMgr" [(ngModel)]="userName" class="form-control" name="manager" type="text" [disabled]="true" placeholder="User Name" required/>
                </div>
                <button type="button" class="btn btn-primary" data-toggle="modal" (click) = "loadUsers()" data-target="#searchUser">
                        Search User
                </button>
            </div>
            <div class="form-group row">
                <div *ngIf="!!(errorMsg)" class="alert alert-danger" role="alert"> {{ errorMsg }} </div>
            </div>

      <div class="col-md-4 text-center">
      <button type="button" class="btn btn-primary mr-3" (click)="onSubmit()">Add</button>
      <button type="reset" class="btn btn-primary mr-3" (click)="reset()">Reset</button>
      </div>
    </div>

    <div class="modal fade" id="projectSearch" tabindex="-1" role="dialog" aria-labelledby="projectSearchTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="projectSearchTitle">Search Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Search Projects-->
                <div class="form-group row" *ngIf="projects?.length > 0">
                        <label for="inputProject" class="col-sm-2 col-form-label">Project:</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="projectName" name="projectName" [(ngModel)]="projectId">
                                <option *ngFor="let project of projects" value="{{project.id}}">{{project.project}}</option>
                            </select>
                        </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "onProjectSelected()">Select</button>
            </div>
            </div>
        </div>
    </div>
   <div class="modal fade" id="parentTaskSearch" tabindex="-1" role="dialog" aria-labelledby="parentTaskTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="parentTaskSearchTitle">Search Parent Task</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Search Parent Task-->
            <div class="form-group row" *ngIf="parents?.length > 0">
                <label for="inputParentTask" class="col-sm-2 col-form-label">Parent Task:</label>
                <div class="col-sm-5">
                    <select class="form-control" id="parentTask" name="parent" [(ngModel)]="parentId">
                        <option *ngFor="let parent of parents" value="{{parent.id}}">{{parent.task}}</option>
                      </select>
                 </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "onParentTaskSelected()">Select</button>
            </div>
        </div>
        </div>
    </div>
    <div class="modal fade" id="searchUser" tabindex="-1" role="dialog" aria-labelledby="searchUserTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="searchUserTitle">Search User</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <!-- Search Users-->
                <div class="form-group row" *ngIf="users?.length > 0">
                        <label for="userName" class="col-sm-2 col-form-label">User:</label>
                        <div class="col-sm-7">
                            <select class="form-control" id="userName" name="userName" [(ngModel)]="userId">
                               <option *ngFor="let user of users" value="{{user.employeeId}}">{{user.firstName}} - {{user.lastName}}</option>
                            </select>
                        </div>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click) = "onUserSelected()">Select</button>
            </div>
          </div>
        </div>
    </div>

</div>
