.alert {
  margin-left: 10%;
  text-align: right;
  font-weight: bold
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  background: #6a6a8b;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.parent-check-label {   
  margin-left: 27%;
  text-align: left;
  font-weight: bold;
  font-size: large;
  box-align: inherit;
}

.col-sm-2 {
  margin-left: 10%;
  background-color: rgb(218, 218, 232);
  text-align: right;
  font-weight: bold;
}
