<div class="text-center">
  <h1 i18n="@@appTitle">{{ title }}</h1>
</div>
<div class="row">
  <div class="col-sm-5">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="/project" routerLinkActive="active">Add Project</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add" routerLinkActive="active">Add Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/user" routerLinkActive="active">Add User</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/view" routerLinkActive="active">View Task</a>
        </li>      
    </ul>
  </div>
</div>

<router-outlet></router-outlet>
