<div class="container-fluid">

    <div class="col-12">
      <div class="card text-center">
        <div><br/></div>

        <div class="form-group row">
          <label for="projectName" class="col-sm-2 col-form-label">Project:</label>
          <div class="col-sm-5">
            <input #projectName="ngModel" [(ngModel)]="project.project" class="form-control" name="projectName" id="projectName"
                   type="text" placeholder="Project Name" required/>
          </div>
        </div>

        <div class="form-group row">
          <div class="form-check date-label col">
            <input type="checkbox" class="form-check-input" id="isDateChkLabel"
                   (ng-model)="isDateChecked" id="dateChecked" [checked]="isDateChecked"
                   (change)="changeChkBox($event)">
            <label class="form-check-label" for="isDateChkLabel">Set Start Date <br/> and End Date</label>
          </div>
          <label for="inputStartDate" class="col-sm-1 col-form-label">Start Date:</label>
          <div class="col">
            <input #startDate="ngModel" id="inputStartDate" [(ngModel)]="project.startDate" style="width:175px"
                   [disabled]=!isDateChecked class="form-control" name="stDate" type="date"/>
          </div>
          <label for="inputEndDate" class="col-sm-1 col-form-label">End Date:</label>
          <div class="col">
            <input #endDate="ngModel" id="inputEndDate" [(ngModel)]="project.endDate" style="width:175px"
                   [disabled]=!isDateChecked class="form-control" name="etDate" type="date"/>
          </div>
        </div>
        
        <div>
          <br/>
        </div>

        <div class="form-group row">
          <label for="inputPriority" class="col-sm-2 col-form-label">Priority:</label>
          <div class="col-sm-5">
            <input #priority="ngModel" id="inputPriority" [(ngModel)]="project.priority" class="form-control slider" min="0" max="30"
                   step="1"
                   name="priority" type="range"/> {{project.priority}}
          </div>
        </div>

        <div class="form-group row">
          <label for="inputMgr" class="col-sm-2 col-form-label">Manager:</label>
          <div class="col-sm-5">
            <input #manager="ngModel" id="inputMgr" [(ngModel)]="userName" class="form-control" name="manager" type="text"
                   [disabled]="true" placeholder="Manager Name" required/>
          </div>
          <button type="button" class="btn btn-primary" data-toggle="modal" (click)="loadUsers()"
                  data-target="#searchUser">
            Search
          </button>
        </div>

        <!-- Modal to select user-->
        <div class="modal fade" id="searchUser" tabindex="-1" role="dialog" aria-labelledby="searchUserTitle"
             aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="searchUserTitle">Search User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <!-- Search Users-->
                <div class="form-group row" *ngIf="users?.length > 0">
                  <label for="userName" class="col-sm-2 col-form-label">User:</label>
                  <div class="col-sm-7">
                    <select class="form-control" id="userName" name="userName" [(ngModel)]="userId">
                      <option *ngFor="let user of users" value="{{user.employeeId}}">{{user.firstName}} -
                        {{user.lastName}}
                      </option>
                    </select>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="onUserSelected()">Select
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- End ModalUser selection -->

        <!-- Displaying error message Option-->
        <div class="form-group row">
          <div *ngIf="!!(errorMsg)" class="alert alert-danger" role="alert"> {{ errorMsg }}</div>
        </div>

        <div class="col-md-4 text-center">
          <button type="button" class="btn btn-primary mr-3" *ngIf="!isUpdate" (click)="onSubmit()">Add</button>
          <button type="button" class="btn btn-primary mr-3" *ngIf="isUpdate" (click)="onUpdate()">Update</button>
          <button type="reset" class="btn btn-primary mr-3" (click)="reset()">Reset</button>
        </div>
      </div>
    </div>

  <!-- List Of Projects-->
  <div class="card-body row text-left col-12">
    <!-- Filter Section-->
    <div>
      <div class="row">
        <div class="col-filter"><label for="filterByProject">Search</label></div>
        <div class="col-sm-7"><input type="text" size="40" [(ngModel)]="filterByProject" name="searchFilter"
                                     class="form-control"
                                     id="filterByProject"></div>
      </div>
      <br/>
      <div class="row">
        <div class="col col-filter" style="width: 200px;"><label>Search based on:</label></div>
        <button type="button" class="btn btn-primary btn-sm mr-3" (click)="sortByStartDate()">Start Date</button>
        <button type="button" class="btn btn-primary btn-sm mr-3" (click)="sortByEndDate()">End Date</button>
        <button type="button" class="btn btn-primary btn-sm mr-3" (click)="sortByPriority()">Priority</button>
        <button type="button" class="btn btn-primary btn-sm mr-3" (click)="sortByCompleted()">Completed</button>
        <button type="reset" class="btn btn-primary btn-sm mr-3" (click)="resetFilter()">Reset</button>
      </div>
    </div>

    <table class="table table-hover align-san">
      <tbody class="tbody">
      <tr *ngFor="let p of filteredProjects | projectFilter : filterByProject">
        <td>
          <table class="inner-table">
            <tr>
              <td colspan="2"><b>Project:</b> {{p.project}}</td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td><b>No of Tasks:</b> {{p.countOfTasks}}</td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr>
                    <td><b>Completed:</b> {{p.countOfCompletedTasks}}</td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <table>
                  <tr>
                    <td><b>Start Date:</b> {{p.startDate}}</td>
                  </tr>
                </table>
              </td>
              <td>
                <table>
                  <tr>
                    <td><b>End Date:</b> {{p.endDate}}</td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table class="inner-table">
            <tr>
              <td><b>Priority</b></td>
            </tr>
            <tr>
              <td>{{p.priority}}</td>
            </tr>
          </table>
        </td>
        <td>
          <button type="button" class="btn btn-primary mr-3" [disabled]=isProjectExpired(p) (click)="update(p)">Update
          </button>
          <button type="button" class="btn btn-primary" [disabled]=isProjectExpired(p) (click)="suspend(p)">Suspend
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
